In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day36-imputing-numerical-data/titanic_toy.csv')

In [5]:
df.isnull().mean()

Age         0.198653
Fare        0.050505
Family      0.000000
Survived    0.000000
dtype: float64

In [6]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [7]:
x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.3)

In [14]:
trf1=SimpleImputer(strategy='constant',fill_value=99)
trf2=SimpleImputer(strategy='constant',fill_value=999)

In [15]:
t1=ColumnTransformer([
    ('t11',trf1,['Age']),
    ('t22',trf2,['Fare'])
])

In [19]:
X_tr=t1.fit_transform(x_tr)

In [20]:
X_tr

array([[ 40.    ,   7.8958],
       [ 54.    , 999.    ],
       [ 21.    ,  11.5   ],
       ...,
       [ 99.    ,   7.75  ],
       [ 50.    , 106.425 ],
       [ 34.    ,  10.5   ]])

In [24]:
a=pd.DataFrame(X_tr)
a.columns=['age','fare']

In [25]:
a

      age      fare
0    40.0    7.8958
1    54.0  999.0000
2    21.0   11.5000
3    14.0   39.6875
4    37.0   53.1000
..    ...       ...
618  39.0  110.8833
619  19.0   26.2833
620  99.0    7.7500
621  50.0  106.4250
622  34.0   10.5000

[623 rows x 2 columns]