In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day36-imputing-numerical-data/titanic_toy.csv')

In [3]:
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [5]:
df.isnull().mean()

Age         0.198653
Fare        0.050505
Family      0.000000
Survived    0.000000
dtype: float64

In [6]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [7]:
x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.3)

In [20]:
x_tr.head()

      Age      Fare  Family
319  40.0  134.5000       2
85   33.0   15.8500       3
418  30.0       NaN       0
16    2.0   29.1250       5
258  35.0  512.3292       0

In [10]:
y_tr

319    1
85     1
418    0
16     0
258    1
      ..
27     0
603    0
391    1
278    0
297    0
Name: Survived, Length: 623, dtype: int64

In [11]:
imputer1= SimpleImputer(strategy='median')
imputer2=SimpleImputer(strategy='mean')

In [15]:
trf=ColumnTransformer([
    ('i1',imputer1,['Age']),
    ('i2',imputer2,['Fare'])
],remainder='passthrough')

In [16]:
trf.fit(x_tr)

ColumnTransformer(remainder='passthrough',
                  transformers=[('i1', SimpleImputer(strategy='median'),
                                 ['Age']),
                                ('i2', SimpleImputer(), ['Fare'])])

In [18]:
X_tr=trf.transform(x_tr)
Y_tr=trf.transform(x_te)

In [19]:
X_tr

array([[ 40.        , 134.5       ,   2.        ],
       [ 33.        ,  15.85      ,   3.        ],
       [ 30.        ,  34.17765685,   0.        ],
       ...,
       [ 21.        ,   7.7958    ,   0.        ],
       [  7.        ,  29.125     ,   5.        ],
       [  2.        , 151.55      ,   3.        ]])