In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')

In [7]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [8]:
df=df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [9]:
df['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [10]:
od=OrdinalEncoder()

In [12]:
od.fit_transform(df[['education']])

array([[1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [2.],
       [0.],
       [0.],
       [0.],
       [2.],
       [2.]])

In [13]:
df['education']=od.fit_transform(df[['education']])

In [14]:
df.head()

    review  education purchased
0  Average        1.0        No
1     Poor        2.0        No
2     Good        0.0        No
3     Good        0.0        No
4  Average        2.0        No

doing work manually

In [16]:
df1=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')

In [18]:
df1.sample()

   age gender review education purchased
9   74   Male   Good        UG       Yes

In [19]:
od1=OrdinalEncoder()