In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

In [66]:
car=pd.read_csv('https://raw.githubusercontent.com/rajtilakls2510/car_price_predictor/master/quikr_car.csv')

In [67]:
car.head()#data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [68]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [69]:
backup=car.copy()

In [70]:
'''names are pretty inconsistent
names have company names attached to it
some names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'
company: many of the names are not of any company like 'Used', 'URJENT', and so on.
year has many non-year values
year is in object. Change to integer
Price has Ask for Price
Price has commas in its prices and is in object
kms_driven has object values with kms at last.
It has nan values and two rows have 'Petrol' in them
fuel_type has nan values'''

"names are pretty inconsistent\nnames have company names attached to it\nsome names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'\ncompany: many of the names are not of any company like 'Used', 'URJENT', and so on.\nyear has many non-year values\nyear is in object. Change to integer\nPrice has Ask for Price\nPrice has commas in its prices and is in object\nkms_driven has object values with kms at last.\nIt has nan values and two rows have 'Petrol' in them\nfuel_type has nan values"

In [71]:
car=car[car['year'].str.isnumeric()]

In [72]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [73]:
car['year']=car['year'].astype(int)#year converted to int

<ipython-input-73-6550e82272c9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']=car['year'].astype(int)#year converted to int

In [74]:
car=car[car['Price']!='Ask For Price']

In [75]:
car['Price']=car['Price'].str.replace(',','').astype(int)

<ipython-input-75-7c631ea95249>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',','').astype(int)

In [76]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

<ipython-input-76-ee2d1c84fd62>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [77]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [78]:
car=car[car['kms_driven'].str.isnumeric()]

In [79]:
car['kms_driven']=car['kms_driven'].astype(int)

In [80]:
car=car[~car['fuel_type'].isna()]
car.shape

(816, 6)

In [81]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [82]:
car=car.reset_index(drop=True)

In [83]:
#data is cleaned now
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [84]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 38.4+ KB

In [85]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [86]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [87]:
car.shape

(815, 6)

In [88]:
car.to_csv('Cleaned_Car_data.csv')

In [125]:
#model
x=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [126]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [127]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [128]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.2)

In [129]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [138]:
one=OneHotEncoder()
one.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [139]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [140]:
col_trans=make_column_transformer((OneHotEncoder(categories=one.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [141]:
lr=LinearRegression()

In [142]:
pipe=make_pipeline(col_trans,lr)

In [143]:
pipe.fit(x_tr,y_tr)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [144]:
y_pred=pipe.predict(x_te)

In [145]:
r2_score(y_te,y_pred)#bad results

0.45052005303794895

In [156]:
scores=[]
for i in range(20):
    x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(col_trans,lr)
    pipe.fit(x_tr,y_tr)
    y_pred=pipe.predict(x_te)
    scores.append(r2_score(y_te,y_pred))
scores

[0.6396886265642636,
 0.5707720997332639,
 0.6120218901905264,
 0.47539857245225725,
 0.7936282883865851,
 0.6041745386762984,
 0.4448651196738874,
 0.5203869570117414,
 0.537650180840765,
 0.6454178162855656,
 0.6669268612446471,
 0.6569983212804802,
 0.46013883139698275,
 0.5970124350861385,
 0.6969604235776939,
 0.5988392388277025,
 0.4690923655445546,
 0.6829984248086884,
 0.5748962239640879,
 0.7054392884017386]

In [157]:
np.argmax(scores)

4

In [153]:
scores[np.argmax(scores)]

0.7936282883865851

In [150]:
pipe.predict(pd.DataFrame(columns=x_te.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([430382.81414542])

In [160]:
x_tr,x_te,y_tr,y_te=train_test_split(x,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(col_trans,lr)
pipe.fit(x_tr,y_tr)
y_pred=pipe.predict(x_te)
r2_score(y_te,y_pred)

0.7936282883865851

In [161]:
#predicted correctly
import pickle

In [163]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [164]:
from google.colab import files
files.download('LinearRegressionModel.pkl')

In [166]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([445894.7555005])