In [2]:
import numpy as np
import pandas as pd

In [3]:
dict1={
    "name":["alka","ajinkya","deep","prabhat"],
    "marks":[12,34,62,13],
    "city":["nashik","goa","nyk","chicago"],
}

In [5]:
df=pd.DataFrame(dict1)

In [6]:
print(df)

      name  marks     city
0     alka     12   nashik
1  ajinkya     34      goa
2     deep     62      nyk
3  prabhat     13  chicago

In [7]:
dict2={
    "teachers":["halkunde(cc)","bedase","gaikwad","revagad","kulkarni",],
    "sub":["hss","dm","fds","cg","os"],
    "dept":["comp","comp","aids","aids","aids"]
}

In [8]:
df2=pd.DataFrame(dict2)

In [10]:
print(df2)

       teachers  sub  dept
0  halkunde(cc)  hss  comp
1        bedase   dm  comp
2       gaikwad  fds  aids
3       revagad   cg  aids
4      kulkarni   os  aids

In [12]:
#we can import this chart in csv(excel)file
df2.to_csv('a11.csv')#imported sucessfully

In [13]:
df2.head(2)#shows first 2 entries from tabel

       teachers  sub  dept
0  halkunde(cc)  hss  comp
1        bedase   dm  comp

In [14]:
df2.tail(3)#last 3 entries

   teachers  sub  dept
2   gaikwad  fds  aids
3   revagad   cg  aids
4  kulkarni   os  aids

In [17]:
df.describe()#gives analysis of the data given to it

           marks
count   4.000000
mean   30.250000
std    23.471614
min    12.000000
25%    12.750000
50%    23.500000
75%    41.000000
max    62.000000

In [20]:
dict3={
    "train 1":["nashik","mumbai","allahbad","kashmir"],
    "no":[123,413,632,6732],
    "time":[4,8,2,4]
}
df3=pd.DataFrame(dict3)
print(df3)

    train 1    no  time
0    nashik   123     4
1    mumbai   413     8
2  allahbad   632     2
3   kashmir  6732     4

In [26]:
df3["no"]#only number coloum

0     123
1     413
2     632
3    6732
Name: no, dtype: int64

In [27]:
df3["train 1"]

0      nashik
1      mumbai
2    allahbad
3     kashmir
Name: train 1, dtype: object

In [29]:
df3["train 1"][0]="allahbad"

<ipython-input-29-a914760e3edd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["train 1"][0]="allahbad"

In [30]:
print(df3)#value changed sucessfully after warning

    train 1    no  time
0  allahbad   123     4
1    mumbai   413     8
2  allahbad   632     2
3   kashmir  6732     4