In [1]:
import numpy as np
import pandas as pd

there are two types of data stutures!
1)series....1d array with indexes stores single colum or row of data in dataframe.
2)dataframe.....tabular spreadsheet like stuture

In [2]:
dict1={
    "name":['gaurav','prabhat','shriram','sneha'],
    "marks":[12,43,23,5],
    "city":['nashik','amravati','yeola','parbhani'],
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df

      name  marks      city
0   gaurav     12    nashik
1  prabhat     43  amravati
2  shriram     23     yeola
3    sneha      5  parbhani

In [5]:
df.to_csv('abc.csv')

In [6]:
from google.colab import files
df.to_csv('abc.csv', encoding = 'utf-8-sig') 
files.download('abc.csv')

In [7]:
df.head(3)

      name  marks      city
0   gaurav     12    nashik
1  prabhat     43  amravati
2  shriram     23     yeola

In [8]:
df.tail(3)

      name  marks      city
1  prabhat     43  amravati
2  shriram     23     yeola
3    sneha      5  parbhani

In [9]:
df.describe()#do stastical analysis for us##

           marks
count   4.000000
mean   20.750000
std    16.580611
min     5.000000
25%    10.250000
50%    17.500000
75%    28.000000
max    43.000000

In [10]:
from google.colab import files
 
 
uploaded = files.upload()

Saving addresses.csv to addresses.csv

In [12]:
test=pd.read_csv('addresses.csv')

In [13]:
test

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [17]:
#changing datas..
test['Doe']

0    McGinnis
1      Repici
2       Tyler
3    Blankman
4         Jet
Name: Doe, dtype: object

In [18]:
test['Doe'][0]='canaut palace'

<ipython-input-18-0b63755cea63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Doe'][0]='canaut palace'

In [19]:
test#changed sucessfully

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,canaut palace,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [20]:
test.index=['f','s','t','f','fi']

In [21]:
test#index changed sucessfully

,John,Doe,120 jefferson st.,Riverside,NJ,08075
f,Jack,canaut palace,220 hobo Av.,Phila,PA,9119
s,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
t,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
f,NaN,Blankman,NaN,SomeTown,SD,298
fi,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [27]:
ser=pd.Series(np.random.rand(30))

In [28]:
ser#random 30 numbers between 0 to 1

0     0.380283
1     0.770138
2     0.886651
3     0.537053
4     0.062303
5     0.569335
6     0.742080
7     0.939271
8     0.616793
9     0.543667
10    0.414650
11    0.778427
12    0.068233
13    0.870335
14    0.812073
15    0.910655
16    0.773407
17    0.024221
18    0.525673
19    0.553670
20    0.963457
21    0.947129
22    0.323359
23    0.149459
24    0.056566
25    0.601976
26    0.632319
27    0.717843
28    0.823942
29    0.027560
dtype: float64

In [29]:
newdf=pd.DataFrame(np.random.rand(33,4),index=np.arange(33))

In [32]:
newdf.head(7)

          0         1         2         3
0  0.757167  0.187922  0.524342  0.825496
1  0.235537  0.475659  0.798333  0.305573
2  0.937432  0.540104  0.055403  0.187898
3  0.704234  0.775577  0.118586  0.702921
4  0.690103  0.962250  0.092968  0.375639
5  0.289821  0.117902  0.934772  0.926126
6  0.126649  0.172355  0.503390  0.214662

In [ ]:
newdf[2][2]="roshan"

In [37]:
newdf.head()

          0         1         2         3
0  0.757167  0.187922  0.524342  0.825496
1  0.235537  0.475659  0.798333  0.305573
2  0.937432  0.540104    roshan    roshan
3  0.704234  0.775577  0.118586  0.702921
4  0.690103  0.962250  0.092968  0.375639

In [38]:
newdf.T     #transpose

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.757167,0.235537,0.937432,0.704234,0.690103,0.289821,0.126649,0.976998,0.627181,0.051603,...,0.126597,0.934102,0.281473,0.15079,0.976882,0.994156,0.357737,0.722507,0.611229,0.672866
1,0.187922,0.475659,0.540104,0.775577,0.96225,0.117902,0.172355,0.280682,0.935417,0.052619,...,0.700599,0.535424,0.683961,0.573977,0.893048,0.993602,0.164392,0.469649,0.641969,0.91331
2,0.524342,0.798333,roshan,0.118586,0.092968,0.934772,0.50339,0.250678,0.543489,0.827585,...,0.447917,0.878804,0.704123,0.594432,0.870804,0.51485,0.159672,0.211681,0.342912,0.121569
3,0.825496,0.305573,roshan,0.702921,0.375639,0.926126,0.214662,0.117825,0.400195,0.574451,...,0.10718,0.51726,0.950818,0.930096,0.014777,0.902156,0.394259,0.812139,0.396188,0.840631

In [40]:
newdf.iloc[0,1]

0.18792177599750892